.wrapper,
.content {
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  text-align: center;
}
.heading-page {
  font-size: 200%;
  margin-bottom: 15px;
}
.heading-page-intro {
  margin: 0 0 10px 0;
}
table {
  width: 100%;
  border-collapse: collapse;
}
tr:nth-child(odd) {
  background-color: #1a1a1a;
}
td {
  padding: 4px;
}
td.band-spotify-artist-follow,
td.band-facebook-page {
  line-height: 0;
}
td.band-facebook-page {
  padding: 0;
}
.band-facebook-page {
  overflow: hidden;
}
.band-facebook-page .un-border {
  margin: -1px 0 0 -1px;
  max-width: 338px;
}
.centered {
  text-align: center;
}
.yes {
  color: green;
}
.no {
  color: #af0000;
}
