@import 'app.component-variables';

.bands,
.playlist {
  margin-bottom: 40px;
}
.hide-below-768 {
  @media (max-width: 767px) {
    display: none;
  }
}
.centered {
  text-align: center;
}
.yes {
  color: $tick-green;
}
.no {
  color: $tick-red;
}
