<div class="content">
  <app-about></app-about>
  <h2 class="heading heading-2">The Artists <span class="font-raleway heading-parenthesis">(in order of appearance in playlist)</span></h2>
  <div class="search">
    <input type="text" [(ngModel)]="searchArtist" placeholder="Search for / Filter Artists" />
  </div>
  <div class="bands">
    <div class="bands-head grid">
      <div class="item item-1 band-nr centered">ID</div>
      <div class="item item-2 band-name">Name</div>
      <div class="item item-3 band-on-playlist centered">On Playlist</div>
      <div class="item item-4 band-status centered">Active</div>
      <div class="item item-5 band-spotify-artist-follow hide-below-768">Spotify Follow</div>
      <div class="item item-6 band-facebook-page hide-below-768">Facebook Like</div>
    </div>
    <div *ngFor="let band of (bands | artistFilter: searchArtist)" class="band grid">
      <div class="item item-1 centered band-nr">{{band.id}}</div>
      <div *ngIf="band.fbId !== ''; then bandIsOnFacebook; else bandIsNotOnFacebook">...</div>
      <ng-template #bandIsOnFacebook>
        <div class="item item-2 band-name on-facebook">
          <a [href]="'https://www.facebook.com/' + band.fbId | safe" title="{{band.name}}" target="_blank">
            {{band.name}}
          </a>&nbsp;&nbsp;<span *ngIf="band.weight === true; then bandIsHeavy">...</span>
        </div>
      </ng-template>
      <ng-template #bandIsNotOnFacebook>
        <div class="item item-2 band-name">
          {{band.name}}&nbsp;&nbsp;<span *ngIf="band.weight === true; then bandIsHeavy">...</span>
        </div>
      </ng-template>
      <ng-template #bandIsHeavy><span class="band-weight heavy" title="{{band.name}} is heavy! :)">&spades;</span></ng-template>
      <div *ngIf="band.onPlaylist === true; then bandIsOnPlaylist; else bandIsNotOnPlaylist">...</div>
      <ng-template #bandIsOnPlaylist><div class="item item-3 centered band-on-playlist yes">&#x2714;</div></ng-template>
      <ng-template #bandIsNotOnPlaylist><div class="item item-3 centered band-on-playlist no">&#x2718;</div></ng-template>
      <div *ngIf="band.status === true; then bandIsActive; else bandIsInactive">...</div>
      <ng-template #bandIsActive><div class="item item-4 centered band-status yes">&#x2714;</div></ng-template>
      <ng-template #bandIsInactive><div class="item item-4 centered band-status no">&#x2718;</div></ng-template>
      <div class="item item-5 band-spotify-artist-follow centered">
        <iframe *ngIf="band.artistId !== ''"
         [src]="'https://open.spotify.com/follow/1/?uri=spotify:artist:' + band.artistId + '&size=detail&theme=dark&show-count=0' | safe"
         width="100%"
         height="56"
         scrolling="no"
         frameborder="0"
         style="border:none; overflow:hidden;"
         allowtransparency="true"></iframe>
      </div>
      <div class="item item-6 band-facebook-page">
        <div class="un-border">
          <iframe *ngIf="band.fbId !== ''"
            [src]="'https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F' + band.fbId + '%2F&tabs&width=340&height=70&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=193070220882687' | safe"
            width="100%"
            height="70"
            scrolling="no"
            frameborder="0"
            style="border:none; overflow:hidden;"
            allowTransparency="true"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="playlist">
    <h2 class="heading heading-2">The Spotify Playlist</h2>
    <iframe src="https://open.spotify.com/embed/user/dreamyguy/playlist/612lQsjH7p9JTfgsekowCk" width="100%" height="800" frameborder="0" allowtransparency="true"></iframe>
  </div>
</div>
